* {
  margin: 0; /* significa que vc não quer margens */
  padding: 0; /* significa que vc não quer preenchimentos */
  box-sizing: border-box; /*significa que ele vai considerar no calculo até a borda ao inves de somar a box + padding */
}

body {
  height: 100vh;
  color: white;
  background: #EBF2F5;
}

:root {
  font-size: 62.5%;
}

body,
input,
button,
textarea {
  font: 400 1.8rem/1 "Nunito", sans-serif;
}